*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #353939;
}
@keyframes show{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:transparent;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter:blur(15px);
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
#navbar li{
    display: inline-block;
    margin: 20px;
}
#navbar a{
    color: #ffffff;
    text-decoration: none;
}
.logodiv{
    margin-left: 30px;
}
.modebtn{
    margin-right: 25px;
}
#modebtn{
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: larger;
    cursor: pointer;
    padding: 2px 7px 5px 7px;
}
.lightbtn button:hover{
box-shadow: 0px 0px 5px;
transition: background 0.3s ease;
}
.ullinks a{
  border: 1px solid #d3d0d07a;
  background-color:rgb(47, 138, 224) ;
  border-radius: 10px;
  padding: 2px 7px 5px 7px;
  transition: background 0.3s ease;
    cursor: pointer;
}
.container{
    background-color: #212323;
    margin-top: 75px;
    display: flex;
    align-items: center;
}
.textdiv{
width: 50%;
height: 500px; 
display: flex;
flex-direction: column;
justify-content: center;
padding: 100px;
animation: show 0.5s linear;
}
.textdiv h1 {
    margin-bottom: 20px;
    font-size: 50px;
}
.textdiv a{
    width: 80px;
    height: 30px;
    margin-top: 30px;
    background: transparent;
    text-decoration: none;
    text-align: center;
    border-color: #ffffff50;
    transition: background 0.3s ease;
    cursor: pointer;
}
a:hover{
    background-color:rgb(47, 138, 224); ;
}
.textdiv a{
    text-decoration: none;
    border: 1px solid #d3d0d07a;
    font-size: larger;
}
.highlight{
    color: rgba(47, 138, 224);
}
.imgdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: show 0.5s linear;

}
.imgdiv img{
    height: 400px;
    padding: 10px;
    margin-left: 100px;
    border-radius:50px ;
}
.cardtext{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
 border-bottom: 1px solid rgba(255, 255, 255, 0.452);
}
.allcards{
    display: flex;
}
.card{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter:blur(15px);
    height: 450px;
    width: 40%;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 50px;
    animation: show linear;
    animation-timeline: view();
    animation-range: entry 0;
}
.card a:hover{
    /* background-color:rgb(47, 138, 224); */
    /* background: rgba(255, 255, 255, 0.15);
    backdrop-filter:blur(15px); */
    background-color:rgba(255, 255, 255, 0.458);
    color: black;
}
.card:hover{
    cursor: pointer;
    transition: background 0.2s ease-in ;
    background-color:rgb(47, 138, 224) ;
}
#ccimg{
    height: 310px;
    width: 100%;
    border-radius: 10px;
}
.card p{
    padding: 10px;
}
.card a{
    width: 80px;
    height: 30px;
    background: transparent;
    text-decoration: none;
    text-align: center;
    border-color: #ffffff50;
    transition: background 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #d3d0d07a;
    font-size: larger;
}
#amazonimg{
    height: 310px;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
}
.cardimg{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter:blur(15px);
    height: 400px;
    width: 30%;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 50px;
}
.about{
    background-color: #212323;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.myimg{
    animation: show linear;
    animation-timeline: view();
    animation-range: entry 0;
    width: 40%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myimg img{
    height: 400px;
    border-radius: 20px;
    margin-left: 150px;
}
.abouttext{
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     animation: show linear;
    animation-timeline: view();
    animation-range: entry 0;
}
.abouttext h2{
    margin-left: 10px;
}
.abouttext p{
    margin: 10px 70px 0px 10px
}
.icons{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 20px;
    margin-left: 200px;
}
.icons i{
    margin:15px;
    width: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #d3d0d07a;
    background-color: rgb(47, 138, 224);;
}
.icons h2{
    font-size: large;
}
.contacttext{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #d3d0d07a;;
}
.mailform{
    display: flex;
    justify-content: center;
    height: 500px;
}
.form{
    margin: 50px 400px 0px 400px;
    width: 100%;    
}
.formdiv1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
input{
    height: 45px;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter:blur(15px);
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
    margin: 0px 10px;
}
#name{
    margin-right:50px;
}

.formdiv2{
    display: flex;
    flex-direction: column;
}
#subject{
    width: 100%;
    margin: 0;
    margin-top: 5px;
}
.formdiv3{
    margin-top: 30px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
textarea{
    height: 90%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter:blur(15px);
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
}
button{
    background-color: rgb(47, 138, 224);
    height: 30px;
    width: 90px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.footer{
    height: 100px;
     background: rgba(255, 255, 255, 0.15);
    backdrop-filter:blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer i{
    margin-left: 5px;
    font-size: larger;
}


@media (min-width:375px) and (max-width:768px){
    .container{
       flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #navbar{
        flex-wrap: wrap;
        margin: 5px;
        justify-content: center;
    }
    #navbar li{
        margin: 0px 5px 0px 0px;
    }
    .imgdiv img{
        height: 300px;
        width: 100%;
       margin: 0 auto 20px auto;
    }
    .textdiv{
        width: 100%;
        padding: 50px;
        height: 350px;
        margin-top: 50px;
    }
    .imgdiv{
        width: 100%;
    }
    .allcards{
      flex-wrap: wrap;
      justify-content: center;
    }
    .cardtext{
        margin: 10px;
    }
    .cardtext p{
        margin: 5px;
    }
    .card{
        width: 90%;
    }
    .about{
        flex-wrap: wrap;
        justify-content: center;
    }
    .myimg{
        margin:0;
        width: 80%;
    }
    .myimg img{
        width: 100%;
        margin: 0;
    }
    .abouttext{
        width: 100%;
        align-items: center;
    }
    .abouttext p{
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    .icons{
        width: 90%;
        margin: 0;
    }
    .form{
        width: 90%;
        margin: 0%;
    }
    .formdiv1{
        flex-direction: column;
    }
    #name{
        margin: 0%;
        margin-bottom: 30px;
    }
    .footer{
        height: 50px;
        margin-top: 40px;
    }
}
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.light-mode {
  background-color: #fca9a9;
  color: #111;
}
.light-mode .container,
.light-mode .about,
.light-mode .card,
.light-mode input,
.light-mode textarea {
  background: #d37272;
  color: #111;
}
.light-mode .card:hover {
  background-color: #318ce7;
  color: white;
}
.light-mode button {
  background-color: #318ce7;
  color: white;
}

.light-mode .highlight {
  color: #fd8f8f;
}

